.signUp {
	background: #4169E1 !important;
	margin-top: 4%;
	border-style: none;
	border-radius: 10px;
	padding: 1.5%;
	font-weight: 700;
	font-size: 22px;
	margin-left: 46%;
	color: white;
}
.signUp:hover {
	border: 1px solid #4169E1 !important;
	background: white !important;
	color: #4169E1 !important;
}

.RegisterInput {
	border-style: none !important;
	border-bottom: 2PX solid #4169E1 !important;
	border-radius: none; 
	margin-top: 2.5%; 
	font-size: 22px;
	margin-left: 38%;
	text-align: center;
	/*margin-bottom: 2%;*/
}

input:focus, textarea:focus {
    outline: none;
}

