.NavBar {
  background: #4169E1 !important;
  position: fixed !important;
  height: 70px;
  top: 0;
  z-index: 99;
  width: 100%;
  box-shadow: 2.5px 2.5px 2.5px rgba(3,3,3,.3);
  border: none;
  color: white !important;
}

ul {
  font-size: 22px;
  font-weight: 700;
  margin-left: 60%;
  line-height: 1em;
  padding: 8px 7px 9px;
  border-radius: 5px;
  margin-top: 10px;
  list-style: none;
}

.LinkStyle {
  text-decoration: none;
  color: white;
  /*font-size: 22px;*/
  margin-left: 9px;
  line-height: 1em;
  padding: 8px 7px 9px;
  border-radius: 5px;
  margin-top: 15px;
}
.LinkStyle:hover {
	text-decoration: none;
}
li {
	display: inline-block;
}
